# Notebook for lab 2

To run this lab, first follow the instructions in the
[problem text](lab2.html), write a script `lab2.sql` which
defines your database, and inserts some data into it. It can
be called as:

```sh
sqlite3 movies.sqlite < lab2.sql
```

Each time you want to restart this lab, you can run the
command above.

To be able to write SQL queries in this notebook, we first
have to run:

In [2]:
%load_ext sql

And to work with our database, we import it with (assuming
you called your database file `movies.sqlite`):

In [3]:
%sql sqlite:///data.sqlite

'Connected: None@data.sqlite'

## Tasks for lab 2

First write a query to show the names of all movies:

In [4]:
%%sql
SELECT * 
FROM movies

Done.

[('Star Wars',), ('Solsidan',), ('Call Me By Your Name',)]

Then show all performances for one of the movies:

In [5]:
%%sql
SELECT *
FROM performances
WHERE film='Star Wars';

Done.

[('Star Wars', '2018-01-08', 'Storgatan', 166),
 ('Star Wars', '2018-01-10', 'Norr', 200),
 ('Star Wars', '2018-04-20', 'Storgatan', 200),
 ('Star Wars', '2018-04-27', 'Storgatan', 200)]

And show all data concerning one of the performances:

In [6]:
%%sql
SELECT *
FROM performances
WHERE film='Star Wars' AND date='2018-01-08'

Done.

[('Star Wars', '2018-01-08', 'Storgatan', 166)]

Now write code to create a reservation (see [problem
text](lab2.html) for more help):

In [7]:
%%sql
DROP TABLE IF EXISTS reservations;
CREATE TABLE reservations( 
    reservation_id INTEGER,
    user_id TEXT,
    showdate DATE,
    movie_title TEXT,
    PRIMARY KEY (reservation_id), 
    FOREIGN KEY (user_id) REFERENCES users(name)
);
INSERT
INTO reservations(reservation_id,user_id, showdate, movietitle)
VALUES(null,'tiger82','2018-01-08', 'Star Wars');
UPDATE performances
SET size=size-1
WHERE date='2018-01-08' AND film='Star Wars';

Done.
Done.
Done.
1 rows affected.

[]

Finally, check that the key constraints that you have stated
work as intended:

 + try to insert two movie theaters with the same name:

In [8]:
%%sql
SELECT *
FROM reservations

Done.

[(1, 'tiger82', '2018-01-08', 'Star Wars')]

In [18]:
%%sql
INSERT 
INTO    performances(film, date, bio, size)
VALUES  ('Star Wars', '2018-04-27', 'Storgatan', 200),
('Star Wars','2018-04-20', 'Storgatan',200);

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: performances.film, performances.date [SQL: "INSERT \nINTO    performances(film, date, bio, size)\nVALUES  ('Star Wars', '2018-04-27', 'Storgatan', 200),\n('Star Wars','2018-04-20', 'Storgatan',200);"]

+ try to insert two performances of the same movie on the
   same date:

In [19]:
%%sql
INSERT 
INTO    performances(film, date, bio)
VALUES  ('Star Wars', '2018-03-14', 'Storgatan',71),
('Star Wars', '2018-03-14', 'Norr',58);

(sqlite3.OperationalError) 4 values for 3 columns [SQL: "INSERT \nINTO    performances(film, date, bio)\nVALUES  ('Star Wars', '2018-03-14', 'Storgatan',71),\n('Star Wars', '2018-03-14', 'Norr',58);"]

+ try to insert a performance where the theater doesn’t
   exist in the database,

In [21]:
%%sql
DELETE
FROM performances
WHERE size=None;
SELECT *
FROM performances;

(sqlite3.OperationalError) no such column: None [SQL: 'DELETE\nFROM performances\nWHERE size=None;']

+ try to insert a ticket reservation where either the user
   or the performance doesn’t exist (observe that SQLite
   doesn't check foreign key constraints by default, you
   have to explicitly tell it to -- see the [problem
   text](lab2.html) for more information):

In [22]:
%%sql
INSERT
INTO reservations(reservation_id,user_id, date, movietitle)
VALUES(null,'erik57','2018-11-17', 'Solsidan');
UPDATE performances
SET size=size-1
WHERE date='2018-11-17' AND film='Solsidan';

(sqlite3.OperationalError) table reservations has no column named date [SQL: "INSERT\nINTO reservations(reservation_id,user_id, date, movietitle)\nVALUES(null,'erik57','2018-11-17', 'Solsidan');"]

In [23]:
%%sql
SELECT *
FROM reservations;

Done.

[(1, 'tiger82', '2018-01-08', 'Star Wars')]